@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./Fonts/Roboto-Black.ttf) format('truetype');
}

html, body {
  height: 100%; 
  width: 100%;
  /* background-image: linear-gradient(to right, #E194F0, #B07CD9);
   */

}


.everything {

   /* background-color: #E194F0; */

  background-repeat: no-repeat;
  background-size: cover, 100vh;
  background-attachment: fixed;
}
.navi {
  /* background-color: rgb(49, 8, 89, .9); */
  /* background-color: rgb(115, 94, 242, .7); */
  /* background-color: rgb(500,500,500, 0.6); */
  margin: 0 5%;
  backdrop-filter: blur(10px);
}
@media only screen and (max-width: 600px) {
  .navi {
    margin: 0;
  }
}

@media only screen and (min-width: 900px) {
  .navtitle {
    font-size: 1.8rem;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);

  }
.navlinks {
  font-weight: 500;
  font-size: 1.3rem;
}
}

.carousel {
  margin: 10% 5% 10% 5%;
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);

}
@media only screen and (max-width: 600px) {
  .carousel {
    margin: 10% 0 20% 0;
  }
}

.about {
  color: black;
  font-size: 1.15rem;
  /* background-image: linear-gradient(to right, #310859, #5833A6); */
  margin: 4px;
  /* background-color: rgb(165, 71, 194, .6); */
  text-align: center;
  /* border-radius: 15%; */
}
@media only screen and (max-width: 600px) {
  .about {
    font-size: 1rem;
  }
}

.card {
  border-radius: 25px;
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);
}

.card_link {
  color: #060126;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 1s;
  font-weight: bold;

}
.card_link:hover {
  color: #735ef2;
  text-shadow: 3px 5px 5px rgba(0,0,0,0.5);
}
.card_link_right {
  text-align: right;
  padding-left: 10%;
}

.title {
  text-align: center;
  font-size: 3rem;
  color: #32292F;
  text-shadow: 7px 7px 9px rgba(0,0,0,0.7);
  
}
.intextlink {
  text-decoration: none;
  color:black;
  transition: all 1s;
font-weight: bold;
}
.intextlink:hover {
  color: #735ef2;
  text-shadow: 3px 5px 5px rgba(0,0,0,0.5);

  
}
.product_list {
  color:black;
  font-size: 1.5rem;
}
.product_card {
  margin: 2% 0;
  box-shadow: none;
  
}
@media only sreen and (max-width: 600px) {
  .product_list {
    font-size: .8rem;
    margin: 15% 0;
  }
}
.lauryncard {
  margin-top: 7.5%;
}
@media only screen and (max-width: 1000px) {
#lastcard {
  margin-top: 6%;
}
}
/* .products_box {
  background-color: #c177d0;
  border: solid 2px black;
  border-radius: 25px;
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);
  padding-top: 3%;
  max-width: 900px;
  margin: 0 auto;

} */
.testing{
  justify-content: center;
  
  
}










/* COLORS
#310859
#1e0640
#5833A6
#735ef2
#060126
*/