html, body {
  overflow-x: hidden;
}

.background_pattern {
  background-image: url(./Images/todd_bg_update.jpg);
  background-size: 200%;
  padding-top: 30%;
  min-height: 100vh;
}
@media only screen and (min-width: 800px) {
  .background_pattern {
    background-size: 80%;
    padding-top: 13%;
  }
} 
.dropdown-toggle::after {
  display: none !important;
}
.product_page_box {
  height: 100%;
}

.spinner {
  padding-bottom: 100vh;
}
.clickable:hover {
  cursor: pointer;
}
.button {
  background-color: #765280!important;
}
.button_dgr {
  background-color: #925b5b!important;
}