html, body {
  overflow-x: hidden;
}
.z1 {
  z-index: 99999;
}
.background_pattern {
  z-index: 1;
  background-color: #ebeeef;
}
.background_pattern::before {
  content: "";
  margin-top: 20%;
  background-image: url(./Images/webp/lncbgpattern.webp);
  background-repeat:repeat;
  background-size: 200px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  
  height: 100%;
  width: auto;
  opacity: 0.75;
}
@media only screen and (min-width: 550px) {
  .background_pattern::before {
    margin-top: 8%;
  }
}