@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./Fonts/Roboto-Black.ttf) format('truetype');
}




.intro {
  background-image: url(./Images/foodcropped.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.navi {
  /* background-color: rgb(49, 8, 89, .9); */
  background-color: rgb(255, 255, 255, .2)
}
.navlinks {
  font-size: 25px;
  font-weight: 800;
}
.carousel {
  margin-top: 15%;
}
.about-text {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
}

#profileimg {
  border-radius: 50%;
  box-shadow: 4px 4px 4px rgb(255, 255, 255);
}

/* COLORS
#310859
#1e0640
#5833A6
#735ef2
#060126
*/