@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./Fonts/Roboto-Black.ttf) format('truetype');
}

html, body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, purple, blue);

}



.everything {
  /* background-image: url(./Images/foodcropped.png);
   */
  background-repeat: no-repeat;
  background-size: cover, 100vh;
  background-attachment: fixed;
}
.navi {
  /* background-color: rgb(49, 8, 89, .9); */
  background-color: rgb(255, 255, 255, .5);
  margin: 0 5%;
}
@media only screen and (max-width: 600px) {
  .navi {
    margin: 0;
  }
}
.navlinks {
  /* font-size: 25px; */
  font-weight: 700;
}
.carousel {
  margin: 5.5% 0 20% 0;
}
@media only screen and (max-width: 600px) {
  .carousel {
    margin: 10% 0 150% 0;
  }
}

.about {
  color: black;
  font-size: 1.728rem;
  /* background-image: linear-gradient(to right, #310859, #5833A6); */
  margin: 4px;
  /* background-color: rgb(165, 71, 194, .6); */
  text-align: center;
  /* border-radius: 15%; */
}
@media only screen and (max-width: 600px) {
  .about {
    font-size: 1rem;
  }
}
.card2 {
  margin-top: 10%;
  background-image: linear-gradient(to right, rgb(122, 122, 253), rgb(126, 57, 126));
}
.card3 {
  margin-top: 5%;
}
@media only sreen and (max-width: 600px) {
  .cards {
    margin-top: 20%;
  }
  .card3 {
    margin-top: 0;
  }

}
.card_link {
  color: #060126;
  text-decoration: none;
  font-size: 1.4rem;
  transition: all .2s ease-in-out;
}
.card_link:hover {
  color: #735ef2;
  transform: scale(1.5);
}

.title {
  text-align: center;
  font-size: 2.5rem;
  color: white;
}
.product_list {
  color:white;
  font-size: 1.5rem;
}
@media only sreen and (max-width: 600px) {
  .product_list {
    font-size: .8rem;
  }
}
/* COLORS
#310859
#1e0640
#5833A6
#735ef2
#060126
*/