#about {
  margin-top: 8%;
}








@media only screen and (max-width: 600px) {
  #about {
    margin-top: 25%;
  }
  
}
@media only screen and (max-width: 415px) {
  .lauryn_card {
    width: 355px;
  }
}