.product_carousel {
  margin-bottom: 15%;
}

.product_carousel_image {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.product_carousel_caption {
  scale: 150%;
  text-shadow: 5px 10px 5px rgba(0,0,0, 0.5);
}

@media only screen and (max-width: 650px) {
  .product_carousel {
    margin-bottom: 25%;
  }
  .product_carousel_image {
    width: 90%;
  }
}