
  .carousel {
    height: 60%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);
  }
  .ctext {
    color: white;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    font-size: 4rem;
    font-family: reklame-script, sans-serif;
  }
  @media only screen and (max-width: 600px) {
    .ctext {
      font-size:.5rem;
    }
  }