.contact_container {
    padding-bottom: 15%;
}
.contact_card {
    margin: 10% auto 0 auto;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);
    width: 50%;
}
@media only screen and (max-width: 800px) {
    .contact_card {
        width: 80%;
    }
}
@media only screen and (min-width: 300px) {
    .contact_form {
        margin-top: 15%;
    }
}
.contact_form {
    margin-top: -10%;
}
.contact_title {
    margin-left: auto;
    margin-right: auto;    
    font-family: 'Dancing Script', cursive; 
    scale: 1.8;
    position: relative;
    top: -22px;
}
.contact_submit {
    margin-left: 70%;
    padding: 2%;
    margin-top: 2%;
    font-size: 1.5rem;
    box-shadow: 3px 3px 5px rgba(0,0,0, 0.5)
}