.contact_container {
    padding-bottom: 15%;
    padding-top: 5%;
}
.contact_card {
    margin: 0 auto 0 auto;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);
    width: 50%;
}
@media only screen and (max-width: 800px) {
    .contact_card {
        width: 80%;
    }
}
@media only screen and (min-width: 300px) {
    .contact_form {
        margin-top: 15%;
    }
}
.contact_form {
    margin-top: -10%;
}
.contact_title {
    margin-left: auto;
    margin-right: auto;    
    font-family: 'Dancing Script', cursive; 
    scale: 1.8;
    position: relative;
    top: -22px;
}
.contact_submit {
    margin-left: 70%;
    padding: 2%;
    margin-top: 2%;
    font-size: 1.5rem;
    box-shadow: 3px 3px 5px rgba(0,0,0, 0.5)
}


.contact_info_box {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.contact_options_link_flex {
    gap: 60px;
}
.contact_options_links {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: all 1s;
    font-weight: 800;
}
.contact_options_links:hover {
    text-decoration: double;
    color: purple;

}

@media only screen and (max-width: 600px) {
    .contact_options_link_flex{
        gap: 5px;
    }
    .contact_info_box {
     width: 75%;
    }
    .contact_options_links {
        font-size: .8rem;
    }
}