.footer_container {
    margin-top: 20%;
    background-color: #5fb0b7;

}
@media only screen and (min-width: 600px) {
    .footer_container {
    margin-top: 10%;
    }
    /* .footer_col_1 {
        margin-left: 10%;
    }
    .footer_col_2 {
        margin-right: 20%;
    } */
}

.footer_row {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;  
    padding-top: 2%;
}
.footer_col_2 {
    text-align: right;
    margin-right: 1.5%;
}

@media only screen and (max-width: 600px) {
    .footer_col_2 {
    margin-right: 5%;

    }
}

.footer_links {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.footer_links:hover {
    color: white;
}