.navi {
    /* background-color: rgb(111, 107, 150, 0.8); */
    backdrop-filter: blur(15px);

  }
  .logo {
    scale: 1.3;
  }
  .navtitle{ 
    font-size: 2rem;
    margin: 3%;
    color: #fad4ff;
    text-shadow: 3px 3px 5px  rgba(10, 0, 10, .7);
    transition: all 1s;
  }
  .navtitle:hover {
    color: #984062;
    cursor: pointer;
  }
  @media only screen and (min-width: 600px) {
    .logo {
      margin-left: 30%;
    }
  .navlinks {
    position:absolute;
    right: 10%;
    text-align: right;
  }
  }
  .navlink {
    text-decoration: none;
    color: #f8ceff;
    font-size: 1.5rem;
    font-weight: 800;
    margin-right: 25px;
text-align: right;
    transition: all 1s;
  }
  
  .navlink:hover {
    color: #984062;
    cursor: pointer;
    text-shadow: 3px 3px 5px  rgba(10, 0, 10, .7);

  }
  .toggler {
    margin: 2% 3% 0 0;
  }
@media only screen and (max-width: 780px) {
.navi {
    margin-left: 0;
    margin-right: 0;
}
.navtitle {
    font-size: 1.70rem;
    margin: 7% 0 7% 15%;

}
.logo {
    display: none;
  }
}