/* .products_box {
    padding-top: 25%;
  }
  .product_list {
    color:black;
    font-size: 1.5rem;
    margin-bottom: 15%;
  }
  .product_card {
    margin: 2% 0;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);   
  } */
  .products_box {
    padding-top: 10%;
  }