.about_card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}
.card_title {
    font-family: Pacifico, cursive;
    text-align: center;
    text-decoration: underline;
    background-color: #ff8cc5;
    margin: 0;
    padding: 0;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.card_text {
    font-family: pedestria-mvb, sans-serif;
}